
.wods{

}
.wods__title > text{
    color: var(--color-base-content);
}
.swiper-wrapper {
    flex: 1;
    width: 100%;
  }
  
  .swiper-container {
    flex-grow: 1;
    padding-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
    position: relative;
    min-height: calc(var(--header-height) + var(--header-height));
    /* display: linear;
    linear-orientation: horizontal;
    height: 100%; */
  }
  .test{
    background-color: aquamarine;
  }
  .swiper-item {
    display: flex;
    position: absolute;
    align-items: flex-start;
    top: 0;
    flex-direction: column;
    gap: 1.5rem;
    min-height: calc(50vh - 2rem);
    justify-content: center;
    padding: calc(var(--header-height) - 1rem)  2rem 1.5rem 2rem ;
    background-color: var(--color-primary);
    border-bottom-right-radius: calc(var(--radius-box) + 1rem);
    border-bottom-left-radius:  calc(var(--radius-box) + 1rem);
    animation: all 0.5s ease-in-out;
  }
  .swiper-item > .title{
    color: var(--color-primary-content);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
  }
   
.swiper-item.active {
  opacity: 1;
  transform: scale(1);
  z-index: 2;
  animation: slideIn 0.6s forwards;
}

@keyframes slideIn {
  0% {
    /* transform: scale(0.8) translateX(100%); */
    opacity: 0;
  }
  50% {
    /* transform: scale(0.9) translateX(0); */
    opacity: 0.5;
  }
  100% {
    /* transform: scale(1) translateX(0); */
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: scale(1) translateX(0);
    opacity: 1;
  }
  50% {
    transform: scale(0.9) translateX(-100%);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.8) translateX(-100%);
    opacity: 0;
  }
}
  .workout-component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: var(--color-primary); */
    color: var(--color-primary-content);
  }
  