.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  background-color: var(--color-base-100);
  border: var(--border) solid var(--color-base-100);
  border-radius: 1rem;
  padding-top: 1.2rem;
  padding-bottom: 5rem;
  gap: 1.5rem;
}
.filter__reset {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}
.filters__heading {
  text-align: right;
  font-size: 2rem;
  padding-right: 5px;
}
.button__reset {
  color: white;
  border-radius: 1rem;
  padding: 1rem;
  background-color: rgb(119, 21, 21);
}
.button__reset > text {
  font-size: 2rem;
  color: white;
  text-align: center;
}
.filter__options {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  gap: 1rem;
  display: flex;
  padding: 1rem;
}
.filter__category {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 2px solid var(--color-base-300);
}
.filter__category-title {
  color: white;
  font-size: 2.5rem;
}
.button__options {
  background-color: var(--color-base-300);
  height: 4rem;
  /* min-width: 6rem; */
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  min-width: 8rem;

  border-radius: 1rem;
  transition: all 1s linear;
}

/* .button__options:hover {
  background-color: var(--color-base-200);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
} */
.button__options.active {
  background-color: var(--color-primary);
}
.button__options > text {
  font-weight: 600;
  font-size: 1rem;
  color: white;
}
.button__options.active > text {
  color: var(--color-primary-content);
}

.filter > text {
  color: var(--color-base-content);
  font-size: 1.5rem;
  font-weight: 600;
}

.wods {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;
  /* overflow: hidden; */
}
.wods__title > text {
  color: var(--color-base-content);
}
.swiper-wrapper {
  flex: 1;
  width: 100%;
  z-index: -10;
}

.swiper-container {
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
  position: relative;
  min-height: calc(var(--header-height) + var(--header-height));
  height: 100%;
  display: linear;
  linear-orientation: horizontal;

  height: 100%;
}
.test {
  background-color: aquamarine;
}
.swiper-item {
  position: absolute;
  display: flex;
  top: -10px;
  width: 100%;
  gap: 0.5rem;
  height: calc(70vh - 2rem);
  justify-content: start;
  background: rgb(255, 255, 255);
  border-top-left-radius: calc(var(--radius-box) + 1rem);
  border-top-right-radius: calc(var(--radius-box) + 1rem);
  border-bottom-right-radius: calc(var(--radius-box) + 1rem);
  border-bottom-left-radius: calc(var(--radius-box) + 1rem);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  /* animation: all 0.5s ease-in-out; */
  /* transition: box-shadow 0.5s ease-in-out; */
  overflow: hidden;
}
.info_container {
  display: flex;
  width: 60px;
  flex-direction: column;
  height: 100%;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  background-color: green;
  padding-bottom: 0.2rem;
}
.swiper-item > .swiper-item__container {
  width: 100%;
  overflow: hidden;
  padding-top: calc(var(--header-height) - 1rem);
}
.swiper-item > view > .title {
  /* padding: 0.5rem 1rem 0.5rem 1rem; */
  /* background-color: 'ffffff'; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-direction: column;
  /* height: 5rem; */
  overflow: hidden;
}
.title > view {
  display: flex;
  gap: 0.5rem;
  display: flex;
  align-items: center;
}
.swiper-item > view > .title > .type__container {
  display: flex;
  width: 100%;

  justify-content: space-between;
}
.swiper-item > view > .title > .type__container > text {
  padding-left: 0.5rem;
  padding-right: 0.4rem;

  width: 100%;
  padding-bottom: 0.1em;
  font-family: Karla, sans-serif;
  letter-spacing: -0.04em;
  font-size: 3.2rem;
  line-height: 1.03;
}
.info_container > .info_text_container > text {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap;
}
.info_text_container {
  /* min-height: 90px; */
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  transform: rotate(270deg);
}
.swiper-item > view > .title > .type__container > .type {
  font-size: 3.5rem;
  color: linear-gradient(90deg, rgb(46, 120, 76), rgb(24, 58, 38));

  display: flex;
}
.swiper-item > view > .title > .type__container > .time {
  font-size: 3.5rem;
  text-align: center;
}
.swiper-item > view > .title > text {
  padding-left: 0.5rem;
  padding-right: 0.4rem;
  color: linear-gradient(90deg, rgb(46, 120, 76), rgb(7, 4, 3));
  text-overflow: clip;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
  /* text-align: left; */
  padding-bottom: 0.1em;
  font-family: Karla, sans-serif;
  letter-spacing: -0.04em;
  font-size: 4rem;
  line-height: 1.03;
}
.swiper-item.active {
  opacity: 1;
  transform: scale(1);
  z-index: 2;
  animation: slideIn 0.6s forwards;
}
.description {
  padding-top: 0.4rem;
  padding-left: 0.5rem;
  padding-right: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.description > text {
  /* color: var(--color-base-content); */
  font-size: 2rem;
  font-weight: 400;
  text-align: left;
  padding-bottom: 0.1em;
  font-family: Karla, sans-serif;
  letter-spacing: -0.04em;
}
.start__workout {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
  min-height: 5rem;
  background: linear-gradient(90deg, rgb(46, 120, 76), rgb(7, 4, 3));
}

@keyframes slideIn {
  0% {
    /* transform: scale(0.8) translateX(100%); */
    opacity: 0;
  }
  50% {
    /* transform: scale(0.9) translateX(0); */
    opacity: 0.5;
  }
  100% {
    /* transform: scale(1) translateX(0); */
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: scale(1) translateX(0);
    opacity: 1;
  }
  50% {
    transform: scale(0.9) translateX(-100%);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.8) translateX(-100%);
    opacity: 0;
  }
}
.workout-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  /* padding: 1rem 2rem 1.5rem 2rem; */
  /* background-color: var(--color-primary); */
  color: var(--color-primary-content);
}
.exercise {
  display: flex;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.exercise > text {
  font-size: 1.2rem;
  font-weight: 400;
}
.wodType {
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
}

@keyframes border-angle-rotate {
  from {
    --border-angle: 0deg;
  }
  to {
    --border-angle: 360deg;
  }
}

.exercise {
  display: flex;
  gap: 1rem;
  width: 100%;
  border: 2px solid var(--color-base-300);
  padding: 1rem;
}

.control__panel {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: var(--color-base-200); */
  gap: 1rem;
}
.control__panel__container {
  display: flex;
  z-index: 2;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  padding: 1rem;
  /* padding-bottom: 10rem; */
}

.control__panel__buttons {
  display: flex;
  gap: 1rem;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  /* height: 6rem; */
  padding: 1rem;
  width: 100%;
  border: 1px solid var(--color-base-300);
}
.user_button {
  display: grid;
  justify-items: center;
  align-items: center;
  max-width: 48px;
  height: 48px;
  padding: 0.1rem;
}
.like__button {
  overflow: hidden;
  width: 100%;
  height: fit-content;
  max-width: 48px;
  max-height: 48px;
  padding: 0.1rem;
}
.control__panel__buttons > text {
  color: white;
  font-size: 1.5rem;
}
.modal {
  position: absolute;
  opacity: 0;
  height: 0;
  bottom: 0;

  width: 100vw;
  z-index: 1300;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.534);
  box-shadow: 0 0 1rem rgba(50, 228, 116, 0.2);
}
.modal__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
  padding-top: 4rem;
  background-color: var(--color-base-200);
  border-radius: 1rem;
}
.button__content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 48px;
  width: 48px;
  overflow: hidden;
}
.close__modal {
  position: relative;
  top: 10px;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.close__modal > view {
  padding-left: 15px;
  width: fit-content;
  height: 20px;
  font-size: 2rem;
  color: var(--color-base-content);
}
.close__modal > view > text {
  font-size: 2.5rem;
  color: var(--color-base-content);
}
.close__modal > text {
  font-size: 2rem;
  color: var(--color-base-content);
}
.weight {
  font-size: 2rem;
  font-weight: 400;
  text-align: left;
  padding-bottom: 0.1em;
  font-family: Karla, sans-serif;
  letter-spacing: -0.04em;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    top: 0;
  }
}
.start__workout__container {
  padding-top: 10rem;
  position: relative;
  height: 100vh;
  z-index: 200;
  background: linear-gradient(0deg, rgb(46, 120, 76), rgb(7, 4, 3));
}
.start__workout__timer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.start__workout__timer > text {
  color: var(--color-base-content);
  font-size: 5rem;
  font-weight: 600;
  text-align: center;
  padding-bottom: 0.1em;
  font-family: Karla, sans-serif;
  letter-spacing: -0.04em;
}
.start__workout__description {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1rem;
}

.start__workout__item {
  background-color: rgba(240, 248, 255, 0.135);
  margin-bottom: 0.4rem;
  border-radius: 15px;
  padding: 1rem;
  position: relative;
}
.start__workout__item > text {
  color: var(--color-base-content);
  font-size: 3.5rem;
  font-weight: bold;
  padding-bottom: 0.1em;
  font-family: Karla, sans-serif;
  letter-spacing: -0.04em;
}

.workout_weight {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(127, 255, 212, 0);
  margin-right: 5px;
}
.workout_weight > text {
  background-color: rgba(127, 255, 212, 0);
  color: var(--color-base-content);
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 0.1em;
  font-family: Karla, sans-serif;
  letter-spacing: -0.04em;
}
.start__workout__wod {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.start__workout__buttons {
  /* position: absolute; */
  display: flex;
  max-height: 12rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  background-color: var(--color-base-200);
  border-radius: 1rem;
  height: 100%;
}

.open__control__panel {
  position: absolute;
  display: flex;
  bottom: 10px;
  right: 0;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  background-color: var(--color-base-200);
}
.paused {
  animation: fadeInFadeOut 1s infinite;
}
.text__description {
  color: var(--color-base-content);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  padding-bottom: 0.1em;
  font-family: Karla, sans-serif;
  letter-spacing: -0.04em;
}
@keyframes fadeInFadeOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
